<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sweetcat.user_relationship.infrastructure.dao.FollowRelationShipMapper">
  <resultMap id="BaseResultMap" type="com.sweetcat.user_relationship.infrastructure.po.FollowRelationshipPO">
    <id column="user_id" jdbcType="BIGINT" property="userId" />
    <id column="target_user_id" jdbcType="BIGINT" property="targetUserId" />
    <result column="target_avatar" jdbcType="VARCHAR" property="targetAvatar" />
    <result column="target_nickname" jdbcType="VARCHAR" property="targetNickname" />
    <result column="target_personalized_signature" jdbcType="VARCHAR" property="targetPersonalizedSignature" />
    <result column="create_time" jdbcType="BIGINT" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    user_id, target_user_id, target_avatar, target_nickname, target_personalized_signature, 
    create_time
  </sql>
  <select id="getFansPage" resultType="com.sweetcat.user_relationship.infrastructure.po.FollowRelationshipPO" resultMap="BaseResultMap">
    select <include refid="Base_Column_List" /> from t_user_fans where user_id = #{userId} limit #{page}, #{limit}
  </select>
  <select id="getFansNumber" resultType="java.math.BigInteger">
    select count(*) from t_user_fans where target_user_id = #{userId}
  </select>
  <select id="getSubscribeNumber" resultType="java.math.BigInteger">
    select count(*) from t_user_fans where user_id = #{userId}
  </select>

</mapper>