<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sweetcat.takewayorder.infrastructure.dao.CommodityOfOrderMapper">
    <resultMap id="BaseResultMap" type="com.sweetcat.takewayorder.infrastructure.po.CommodityOfOrderPO">
        <id column="order_id" jdbcType="BIGINT" property="orderId"/>
        <result column="commodity_id" jdbcType="BIGINT" property="commodityId"/>
        <result column="commodity_name" jdbcType="VARCHAR" property="commodityName"/>
        <result column="commodity_pic_small" jdbcType="DECIMAL" property="commodityPicSmall"/>
        <result column="price_when_make_order" jdbcType="BIGINT" property="priceWhenMakeOrder"/>
        <result column="count" jdbcType="INTEGER" property="count"/>
    </resultMap>
    <sql id="Base_Column_List">
        order_id
        , commodity_id, commodity_name, commodity_pic_small, price_when_make_order, `count`
    </sql>
    <insert id="addOne">
        insert into t_commodity_of_order (<include refid="Base_Column_List"/>) values (#{orderId}, #{commodityId},
        #{commodityName}, #{commodityPicSmall}, #{priceWhenMakeOrder}, #{count})
    </insert>
    <update id="updateOne">
        update t_commodity_of_order
        set commodity_name        = #{commodity_name},
            commodity_pic_small   = #{commodity_pic_small},
            price_when_make_order = #{price_when_make_order},
            `count`               = #{count}
        where order_id = #{orderId}
    </update>
    <select id="findAllByOrderId" resultType="com.sweetcat.takewayorder.infrastructure.po.CommodityOfOrderPO">
        select
        <include refid="Base_Column_List"/>
        from t_commodity_of_order where order_id = #{orderId}
    </select>

</mapper>