<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sweetcat.storecommodity.infrastructure.dao.CommodityCommentMapper">
    <resultMap id="BaseResultMap" type="com.sweetcat.storecommodity.infrastructure.po.CommodityCommentPO">
        <id column="comment_id" jdbcType="BIGINT" property="commentId"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="commodity_id" jdbcType="BIGINT" property="commodityId"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
        <result column="content_pics" jdbcType="VARCHAR" property="contentPics"
                typeHandler="com.sweetcat.storecommodity.infrastructure.dao.typehandler.ListCharTypeHandler"/>
        <result column="stars" jdbcType="TINYINT" property="stars"/>
        <result column="create_time" jdbcType="BIGINT" property="createTime"/>
    </resultMap>
    <sql id="Base_Column_List">
        comment_id
        , user_id, commodity_id, content, content_pics, stars, create_time
    </sql>
    <insert id="insertOne">
        insert into t_store_commodity_comment(<include refid="Base_Column_List"/>) values (#{commentId}, #{userId},
        #{commodityId}, #{content},
        #{contentPics, javaType=List, jdbcType=VARCHAR, typeHandler=com.sweetcat.storecommodity.infrastructure.dao.typehandler.ListCharTypeHandler},
        #{stars}, #{createTime})
    </insert>
    <delete id="deleteOne">
        delete
        from t_store_commodity_comment
        where comment_id = #{commentId}
    </delete>
    <select id="findByCommentId"
            resultType="com.sweetcat.storecommodity.infrastructure.po.CommodityCommentPO">
        select
        <include refid="Base_Column_List"/>
        from t_store_commodity_comment where comment_id = #{commentId}
    </select>
    <select id="findPageByCommodityId"
            resultType="com.sweetcat.storecommodity.infrastructure.po.CommodityCommentPO">
        select
        <include refid="Base_Column_List"/>
        from t_store_commodity_comment where #{commodityId} limit #{page}, #{limit}
    </select>

</mapper>