<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sweetcat.userorder.infrastructure.dao.AmountOfCommodityMapper">
    <resultMap id="BaseResultMap" type="com.sweetcat.userorder.infrastructure.po.AmountOfCommodityPO">
        <id column="order_id" jdbcType="BIGINT" property="orderId"/>
        <result column="commodity_id" jdbcType="BIGINT" property="commodityId"/>
        <result column="price_of_payment" jdbcType="DECIMAL" property="priceOfPayment"/>
        <result column="price_of_commodity" jdbcType="DECIMAL" property="priceOfCommodity"/>
        <result column="credit" jdbcType="BIGINT" property="credit"/>
    </resultMap>
    <sql id="Base_Column_List">
        order_id
        ,commodity_id, price_of_payment, price_of_commodity, credit
    </sql>
    <insert id="addOne">
        insert into t_amount_of_commodity (<include refid="Base_Column_List"/>) values ( #{orderId}, #{commodityId},
        #{priceOfPayment}, #{priceOfCommodity}, #{discountPriceInfo.credit})
    </insert>
    <update id="updateOne">
        update t_amount_of_commodity
        set price_of_payment    = #{priceOfPayment},
            price_of_commodity = #{priceOfCommodity},
            credit             = #{discountPriceInfo.credit}
        where order_id = #{orderId}
    </update>
    <delete id="deleteOne">
        delete
        from t_amount_of_commodity
        where order_id = #{orderId}
    </delete>
    <select id="findAllByOrderId" resultType="com.sweetcat.userorder.infrastructure.po.AmountOfCommodityPO">
        select
        <include refid="Base_Column_List"/>
        from t_amount_of_commodity
        where order_id = #{orderId}
    </select>

</mapper>