<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sweetcat.userorder.infrastructure.dao.OrderMapper">
    <resultMap id="BaseResultMap" type="com.sweetcat.userorder.infrastructure.po.OrderPO">
        <id column="order_id" jdbcType="BIGINT" property="orderId"/>
        <result column="order_staus" jdbcType="TINYINT" property="orderStaus"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="type" jdbcType="TINYINT" property="type"/>
    </resultMap>
    <sql id="Base_Column_List">
        order_id
        , order_staus, user_id, `type`
    </sql>
    <insert id="addOne">
        insert into t_user_order (<include refid="Base_Column_List"/>) values (#{orderId}, #{orderStaus}, #{userId}, #{type})
    </insert>
    <update id="updateOne">
        update t_user_order
        set order_staus = #{orderStaus},
            type = #{type}
        where order_id = #{orderId}
    </update>
    <delete id="deleteOne">
        delete
        from t_user_order
        where order_id = #{orderId}
    </delete>
    <select id="findPageByUserId" resultType="com.sweetcat.userorder.infrastructure.po.OrderPO">
        select
        <include refid="Base_Column_List"/>
        from t_user_order where user_id = #{userId} limit #{page}, #{limit}
    </select>

</mapper>