<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sweetcat.app_carousel.infrastructure.dao.CarouselMapper">
    <resultMap id="BaseResultMap" type="com.sweetcat.app_carousel.infrastructure.po.CarouselPO">
        <id column="carousel_id" jdbcType="BIGINT" property="carouselId"/>
        <result column="pic_path" jdbcType="VARCHAR" property="picPath"/>
        <result column="target_url" jdbcType="VARCHAR" property="targetUrl"/>
        <result column="create_time" jdbcType="BIGINT" property="createTime"/>
        <result column="update_time" jdbcType="BIGINT" property="updateTime"/>
        <result column="start_time" jdbcType="BIGINT" property="startTime"/>
        <result column="deadline" jdbcType="BIGINT" property="deadline"/>
        <result column="is_show_immediately" jdbcType="TINYINT" property="showImmediately"/>
    </resultMap>
    <sql id="Base_Column_List">
        carousel_id
        , pic_path, target_url, create_time, update_time, start_time, deadline,
    is_show_immediately
    </sql>
    <select id="getCarouselPage" resultType="com.sweetcat.app_carousel.infrastructure.po.CarouselPO">
        select
            <include refid="Base_Column_List"/>
        from t_app_carousel
        where is_show_immediately = 1 and deadline >= #{curTimeStamp}
        order by start_time desc
        limit #{page}, #{limit}
    </select>

</mapper>